body {
	margin: 60px;
	background-color:rgb(233, 233, 233);
}

h1 {
	font-size: 50px;
	margin-bottom: 30px;
}

h2 {
	font-size: 30px;
}

p {
	font-size: 15px;
}

label {
	font-size: 20px;
}

#category-filter {
	width: 170;
	height: 30px;
	font-size: 20px;
	background-color:khaki;
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

#usage-filter {
	width: 170px;
	height: 30px;
	font-size: 20px;
	background-color:darkseagreen;
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

#language-filter {
	width: 170px;
	height: 30px;
	font-size: 20px;
	background-color:darksalmon;
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

#source-filter {
	width: 170px;
	height: 30px;
	font-size: 20px;
	background-color:rgb(90, 153, 153);
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

a {
	font-size: 20px;
	font-weight: 500;
}

li {
	margin-top: 10px;
	margin-bottom: 30px;
}




/* Media Queries */
/* Desktop Media Query */
@media(min-width: 1200px) {

	body {
	margin: 100px;
	}

}


#muti-step-form-container {
	margin-top: 20px;
}

.text-center {
	text-align: center;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.pl-0 {
	padding-left: 0;
}

.button {
	padding: 20px 30px;
	background-color: white;
	color: black;
	border-radius: 5px;
	cursor: pointer;
}

.submit-btn {
	background-color: white;
	color: black;
}

.mt-3 {
	margin-top: 20px;
}

.d-none {
	display: none;
}

.form-step {
	color: black;
	padding: 10px;
}

.font-normal {
	font-weight: normal;
}

ul.font-stepper {
	counter-reset: section;
	margin-bottom: 20px;
}

ul.font-stepper  .form-stepper-circle{
	position: relative;
}

ul.form-stepper .form-stepper-circle span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.form-stepper-horizontal {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.options-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.option-btn {
	padding: 10px;
	background-color: white;
}

.option-btn.selected {
	background-color: black;
	color: white;
}