body {
	margin: 50px;
	background-color:rgb(233, 233, 233);
}

h1 {
	font-size: 50px;
	margin-bottom: 30px;
}

h2 {
	font-size: 30px;
}

p {
	font-size: 15px;
}

label {
	font-size: 20px;
}

#category-filter {
	width: 170;
	height: 30px;
	font-size: 20px;
	background-color:khaki;
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

#usage-filter {
	width: 170px;
	height: 30px;
	font-size: 20px;
	background-color:darkseagreen;
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

#language-filter {
	width: 170px;
	height: 30px;
	font-size: 20px;
	background-color:darksalmon;
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

#source-filter {
	width: 170px;
	height: 30px;
	font-size: 20px;
	background-color:rgb(90, 153, 153);
	color: black;
	text-align: center;
	margin-bottom: 20px;
}

a {
	font-size: 20px;
	font-weight: 500;
}

li {
	margin-top: 10px;
	margin-bottom: 30px;
}

/* Media Queries */
/* Desktop Media Query */
@media(min-width: 1200px) {

	body {
	margin: 100px;
	}

}